# Ignore everything
/*

# except
!_public/
!_src/
!control/
!cypress/
!main/
!public/
!server/
!session/
!src/
!.gitignore
!.travis.yml
!cypress.json
!package-lock.json
!package.json
Procfile
README.md
